.git
.gitignore
.idea
.windsurf
.vscode
*.iml

target
build
out
logs
*.log

.env
.env.*
!.env.example

docs
grafana
prometheus
skills
src/test
compose.yaml
compose.yml
docker-compose.yaml
docker-compose.yml

HELP.md
