<!--Đây là file logback-spring.xml cấu hình log cho Spring Boot. Đoạn này đang làm một việc chính: in log ra console với format có traceId.-->
<configuration>
    <springProperty scope="context" name="serviceName" source="app.service-name" defaultValue="library-service"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [service=${serviceName}] [traceId=%X{traceId:-NO_TRACE}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.vn" level="INFO"/>
</configuration>
